.login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form-controls {
  display: flex;
  flex-direction: row;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-control {
  display: flex;
  flex-direction: row;
  gap: 10px;
}