.login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.email-password {
  display: flex;
  flex-direction: column;
  gap: 5px;  
}

.login-form-input > input { 
  width: 100px;
}

.login-form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

.login-form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

.login-form-controls > button, a {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  font-weight: 400;
  border: 1px black solid;
}

.login-form-controls > button:hover, a:hover {
  background-color: white;
  color: #DC4405;
  cursor: pointer;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  border-left: 1px white solid;
  border-top: 1px white solid;
  font-weight: 600;
}