.feedback-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  border: darkgray 1px solid;
  max-width: 600px;
  margin-top: 20px;

}

.feedback-interest {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;


}