.view-feedback {
    list-style-type: none;
    margin-right: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
    border: darkgray 1px solid;
    max-width: 600px;


}