.footer {
    background-color: #282c34; /* Match the App-header background */
    color: white; /* Match the App-header text color */
    padding: 20px 0; /* Add some padding */
    text-align: center; /* Center the text */
  }
  
  .footer-links a {
    color: #f3f3f3; /* Use the App-link color for consistency */
    margin: 0 15px; /* Space out the links */
    text-decoration: none; /* Optionally remove underline from links */
  }
  
  .footer-links a:hover {
    text-decoration: underline; /* Add underline on hover for better UX */
  }
  