.user-profile {
  padding-top: 2.75rem;

}

.profile-section {
  margin-bottom: 5rem;
}

.delete-account-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}