
.profile-image:hover {
  background-color: transparent;
}

.profile-image:hover>svg {
  fill: gray;
}
.profile-image {
  background: none;
  border: none;       /* This kills the black box */
  padding: 0;
  cursor: pointer;
  outline: none;      /* Removes the blue/black ring when clicked */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;        /* Or whatever width you want */
}